<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/webjars/jquery/dist/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <title>This is chatting room</title>
</head>
<body>
<h1>{{room.id}} room</h1>
<div class="content" data-room-id="{{room.id}}">
    <ul class="chat_box">
    </ul>
    <input name="message">
    <button id="send_button" onclick="send_button_click();">send message!</button>
    <script>

    </script>
</div>
</body>
</html>